*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(135deg, #434985, rgb(114, 10, 114));
    padding: 10px;
}
.todo-app{
    width:100%;
    max-width: 540px;
    background:#fff ;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color:#002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
}
.todo-app h2 img{
    width:32.5px;
    margin-left: 10px;
}
#theme-btn{
    margin-left:auto;
    width:40px;
    height:40px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
#theme-btn:hover{
    background:#edeef0;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
.row button{
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #ff5945;
    color:#fff;
    font-size: 16px;
    cursor:pointer;
    border-radius: 40px;
}
.edit-btn{
    position: absolute;
    right:50px;
    top:5px;
    width:40px;
    height: 40px;
    font-size: 18px;
    background: transparent;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
}
ul li{
    min-height: 40px;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top:8px;
    left:8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height: 40px;
    font-size: 18px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background:#edeef0;
}
.edit-btn:hover{
    background:#edeef0;
}
.dark-theme{
    background: linear-gradient(135deg,#0f172a,#020617);
}
.dark-theme .todo-app{
    background:#1e293b;
}
.dark-theme .todo-app h2{
    color:#fff;
}
.dark-theme #theme-btn:hover{
    background: #475569;
}
.dark-theme .row{
    background:#334155;
}
.dark-theme input{
    color:white;
}
.dark-theme input::placeholder{
    color:#cbd5e1;
}
.dark-theme ul li{
    color:white;
}
.dark-theme ul li.checked{
    color:#bccce3;
}
.dark-theme .edit-btn,
.dark-theme ul li span{
    color:white;
}
.dark-theme .edit-btn:hover,
.dark-theme ul li span:hover{
    background:#475569;
}

@media(max-width:480px){

    .todo-app{
        padding:30px 20px 50px;
    }

    .row button{
        padding:16px 22px;
        font-size:14px;
    }

    .todo-app h2{
        font-size:28px;
    }
}